# Shopify CLI
.shopify/
.oxygen/

# Node modules (如果有)
node_modules/

# OS 文件
.DS_Store
Thumbs.db

# Editor 文件
.vscode/settings.json
.idea/

# 环境变量
.env
.env.local

# 日志
*.log
npm-debug.log*

# 构建产物
dist/
build/
